/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    font-family: "Titillium Web", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", Arial, sans-serif;    
}
   
#wrapper {
    max-width: 1024px;
    margin: 10px auto 70px;
padding: 0 25px;
}

.table-wrapper {
    height: 400px;
    width: 1000px;
    margin: 10px auto;
    overflow: auto;
}

.table-wrapper table {
    width: 1000px;
    table-layout: fixed;
}

th, td {
    border: 1px solid #DDDDDD !important;
}

.table-wrapper td, .table-wrapper th {;
    word-wrap: break-word;
    background: #FFF;
    overflow: auto;
}

#pil_bidang_1, #pil_bidang_2 {
    margin: 10px 0;
}

.box-bidang {
    padding-top: 7px;
    height: 120px;
    text-align: center;
    overflow: hidden;
    transition: all 0.15s ease-in 0s;
}

.box-bidang:hover {
    height: 120px;
    padding-top: 0px;
    cursor: pointer;
}

.box-bidang.selected {  
    padding-top: 0px;
}

#registrant td a {
    display: block;
}

#registrant td.yes {
    background: #DFF0D8;
}

#registrant td.no {
    background: #F2DEDE;
}

#registrant td.maybe {
    background: #FCF8E3;
}

#registrant td.blue_bg {
    background: #D9EDF7;
}

.fuki-hide {
    display:none;
}

.border-bot {
    border-bottom: 4px solid #E74C3C;
}