button {
	border: none;
	padding: 6px 12px;
	background: #fff;
	color: #3A3C3C;
	font-family: 'Titillium Web', Calibri, Arial, sans-serif;
	font-size: 1em;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
	font-weight: bold;
}

button:hover {
	background: #3A3C3C;
	color: #fff;
}

.md-content {
	background: #3A3C3C;
}

.md-content div {
	overflow:auto; max-height: 400px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', Arial, sans-serif;
}